#lightbox {
  display: none;
  position: relative;
  margin: 0 auto;
}

#lightbox-image-container {
  background-repeat: no-repeat;
}

#lightbox-left-button,
#lightbox-right-button {
  position: absolute;
  width: 2em;
  height: 2em;
}

#lightbox-close-button {
  width: 2em;
  height: 2em;
}

#lightbox-right-button {
  right: 0;
}
